.trans{            
    color: #fff;
    text-align: justify;
    background: rgba(4,9,30,0.5);
    font-size: 20px;
    padding: 50px;
    font-family: calib;
    min-height: 245px;
}
.text_big{
    font-size: 50px;
    font-weight: bolder;
}
._2box p{
    font-size: 20px;
    text-align: justify;
}
#table_donation td{
    padding:5px;
    font-size: 25px;
}
#table_donation tr{}

#table_div input{
    width: 25px;
    height: 25px;
    vertical-align: sub;
}
.diva{
    font-size: 20px;
    margin: 10px 0px;
    border-bottom: solid 2px #2c02a5;
}
.diva input[type=text]{
    float: right;
    font-size: 20px;
}
.form{
    max-width: 435px;
}
.diva2{
    margin: 5px 0;
}
.diva3, .diva3x{
    font-size: 20px;
    border: solid 1px #888;
    border-radius: 5px;
    width: 300px;
    padding: 5px 0;
}
.diva3x{
    border: none;
    width: 75px;
    font-size: 14px;
}
.diva_color{
    border: solid #aaa 1px;
}