* {
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url(./tt0142m_.ttf);
}

@media only screen and (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 17px;
    }

    .parent {
        display: inline-block;
        margin: 5px;
    }

    .menu {
        background-color: rgb(244, 138, 254);
        height: 5px;
        width: 25px;
        margin: 4px;
    }

    .mind_big {
        max-width: 1100px;
        margin: 20px auto;
    }

    .heading_topic {
        border-left: solid 6px #99f;
        background: #eef;
        padding: 10px;
        padding-left: 40px;
        font-family: myFont;
        color: blue;
    }

    .about_story p {
        font-family: myFont;
        text-align: justify;
    }

    .about_story li {
        display: list-item;
        color: #000;
        margin: 25px 0
    }

    .about_story li:hover {
        background: #fff;
        color: #000;
        border-bottom: #aaa solid 2px;
    }

    .about_img,
    .about_img_2,
    .about_img_3 {
        float: right;
        width: 335px;
        margin: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .about_img_2 {
        margin-top: 0px;
    }

    .about_img_3 {
        width: 40%;
    }

    #major_con,
    .major_con {
        padding: 30px 20px;
        max-width: 900px;
        margin: auto;
    }

    .major_con {
        text-align: justify;
    }

    .fine_con {
        margin-top: -10px;
        position: relative;
        box-sizing: border-box;
        background: #fff;
        background: url('../bg_designs.png');
        box-shadow: 5px 5px 5px #aaa, -5px -5px 5px #aaa;
    }

    .myBtn {
        background: #00f;
        color: #fff;
        width: 150px;
        display: inline-block;
        margin: auto;
        padding: 15px;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;
    }

    .drop_cap {
        font-size: 70px;
        float: left;
        line-height: 81%;
        margin-right: 5px;
    }

    .page_graphics {
        width: 45%;
    }

    .page_gr p {
        width: 60%;
    }

    .table_block {
        display: table;
    }

    .f_le {
        float: left;
        margin-right: 10px;
    }

    .f_ri {
        float: right;
        margin-left: 10px;
    }

    .side_right div {
        display: inline-block;
        background: #fff;
        box-shadow: 2px 3px 8px #a39f9f;
        width: 68%;
        min-height: 200px;
        padding: 25px 50px;
        padding-right: 100px;
        box-sizing: border-box;
    }

    .side_right img {
        margin-left: -80px;
        vertical-align: middle;
        width: 38%;
    }

    .side_left div {
        margin-left: -80px;
        display: inline-block;
        background: #fff;
        box-shadow: 2px 3px 8px #a39f9f;
        width: 68%;
        min-height: 200px;
        padding: 25px 50px;
        padding-left: 100px;
        box-sizing: border-box;
    }

    .side_left img {
        vertical-align: middle;
        position: relative;
        z-index: 2;
        width: 38%;
    }

    .side_3 {
        width: 300px;
        display: inline-block;
        margin: 0 20px;
        vertical-align: top;
    }

    .trans {
        position: relative;
        margin-left: -165px;
    }

    .trans_card,
    .service_card {
        display: inline-block;
        background: #fff;
        box-shadow: 2px 3px 8px #a39f9f;
        margin-top: -120px;
        min-height: 200px;
        padding: 25px;
        box-sizing: border-box;
        padding-top: 60px;

    }

    .trans_card p,
    .service_card p {
        text-align: left;
    }

    .service_card {
        margin-top: -90px;
        background-image: url('../kunle\ P/yel.jpg');
        background-size: 100% 100%;
        padding-top: 70px;
    }

    .dd {
        position: absolute;
        background: #f69cf9;
        top: 40px;
        transition: 2s;
        height: 0px;
        overflow: hidden;
        z-index: 11;
        text-align: left;
    }

    .dd_menu {
        color: #e8f706;
        margin: 2px;
        padding: 10px 5px;
        background: linear-gradient(#ff00e8, #4e0576);
    }

    .dd_menu:hover {
        background: linear-gradient(#ff9500, #4e0576);
        margin-left: 10px;
        color: #fff;
    }

    #parent:hover #menu_02 {
        height: 218px;
    }

    .video_block {
        display: inline-table;
        width: 100%;
    }

    .box1 {
        border-bottom: solid #FFF 2px;
        position: absolute;
        top: 0px;
        height: 100px;
        width: 100vw;
        z-index: -99;
    }

    .box1x {
        color: #fff;
    }

    .box2 {
        width: 300px;
        min-height: 100px;
        background-color: #FFF;
        box-shadow: 1px 10px 10px #222;
        display: inline-block;
        margin: 6px auto;
        padding: 10px;
        vertical-align: top;
        background: rgba(255, 255, 255, 0.8);
        font-size: 20px;
    }

    .box3 {
        color: #F90;
    }

    ul {
        list-style: square;
    }

    li {
        color: #000;
    }

    .box4 {
        text-align: left;
        font-size: 20px;
        line-height: 1.5;
    }

    .box5 {
        color: rgb(55, 0, 255);
    }

    .intro-section {
        background-color: rgba(0, 0, 0, 0.5);
        background-size: 100%;
        background-image: url('../kunle\ P/slider-1-1920x1080.jpg');
        padding: 30px 0;
    }

    a,
    a:visited {
        text-decoration: none;
        color: #000;
    }

    /* footer */
    .footer_heading {
        font-size: 25px;
        color: #e8f706;
        margin-bottom: 10px;
    }

    .bull {
        padding: 4px;
        background-color: #F60;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .half_div {
        display: block;
        font-size: 18px;
    }

    .half_div a {
        color: #fff;
    }

    .fooot .half_div,
    #ratolf_footer .half_div {
        margin: 25px auto 0;
    }

    .icon {
        width: 20px;
        vertical-align: middle;
    }

    /*
NEW SENIOR SCHOOL BIOLOGY PRACTICAL ACTIVITY/WORKBOOK 1,2 AND 3
(Okechukwu C.O) : A complete practical activity guide for Senior secondary student's practical Biology course with well illustrated diagrams and past SSCE questions. The books have digital App which is designed to enhance student interest and performance in biology.
*/

    /* for picture carousel */
    .hero {
        width: 100%;
        height: 457px;
        overflow: hidden;
    }

    .hero .carousel {
        width: 300px;
        margin: 0px auto 0;
        overflow: visible;
    }

    .carousel img {
        -webkit-box-reflect: below 10px linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
        max-width: 420px;
        max-height: 280px;
    }

    .carousel img {
        -webkit-box-reflect: below 10px linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
        max-width: 420px;
        max-height: 280px;
    }



    .each_video {
        background: #000;
        margin: 10px auto;
        width: 910px;
        min-height: 450px;
        text-align: center;
    }

    .video_title {
        color: #fff;
        font-size: 22px;
        padding-top: 10px;
        display: inline-block;
    }

    .card_design {
        margin: 25px;
    }

    .card_design_div,
    .card_design_div_odd {
        display: inline-block;
        background: #fff;
        box-shadow: 2px 3px 8px #a39f9f;
        min-height: 200px;
        padding: 25px;
        padding-top: 100px;
        margin-top: -100px;
        margin-left: 80px;
        box-sizing: border-box;
    }

    .card_design_img,
    .card_design_img_odd {
        vertical-align: top;
        width: 65%;
        position: relative;
        z-index: 2;
    }

    .card_design_div_odd {
        margin-right: 90px;
        margin-left: 0;
    }

    .card_design_img_odd {
        right: 0px;
        float: right;
    }

    .trans_card_mobile {
        display: inline-block;
        background: #fff;
        box-shadow: 2px 3px 8px #a39f9f;
        min-height: 200px;
        padding: 25px;
        padding-top: 100px;
        margin: -132px 30px 0 60px;
        box-sizing: border-box;
    }

    .trans_mobile {
        margin-left: 0px;
        z-index: 1;
        position: relative;
    }
}

.overlay, .overlay2{display: none;}