@font-face{
	font-family:myFirstFont;
	src:url(trebuc.ttf);
}
body{padding: 0px;margin: 0px;
background-color: #000;
text-align:center;
font-family: myFirstFont;}
.headin{
    margin-top: 170px;
	text-align:center;
}

.bigLetter{
	font-size: 50px;
}
.letter2{
	font-size: 22px;
}
.bigBtn{
	background-color:#CCC;
	padding:9px;
	margin:auto;
	font-size:24px;
	font-weight:bolder;
	box-shadow:1px 1px 1px #000;
	border-radius:5px;
	display:inline-block;
	/*text-outline:#090 2px;*/
	/*engraved code begin here */
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
	cursor:pointer;
}

.cir{
	width:130px;
	height:130px;
	border-radius:100px;
	border:solid 2px #FFF;
	margin:auto;
	margin-top: 30px;
}
.box1{
	border-bottom:solid #FFF 2px;
	position: absolute; 
    top: 0px;
	height: 100px;width: 100vw;
	z-index: -99;
}
.box1x{
	color: #fff;
}
.box2{
	width: 300px;
	height: 300px;
	background-color: #FFF;
	box-shadow:1px 10px 10px #222;
	display: inline-block;
	margin: 6px;
	padding: 10px;
	vertical-align: top;
	opacity: 0.7;
	font-size:20px;
}
.box3{
	color:#F90;
}
ul{
	list-style:square;
}
li{color:#000;}
.box4{
	text-align: left;
	font-size:16px;
	line-height:1.5;
}
.box5{color:#F60;}
.intro-section {
    position:absolute;
    background-size: cover;
    z-index: 1;
	background-image: url(../images/slider-1-1920x1080.jpg);
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	z-index: -100;
    top: 0px;
}
a{
	text-decoration: none;
	color: #000;
}
/*
https://www.youtube.com/watch?v=FWKXiFzFsMA
https://www.youtube.com/watch?v=8W18qcAkVjU
*/